*{
    margin: 0;
    padding: 0;
}

body {
    transition-duration: 1s;
    background-color: #001628;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "clock"
    "ontbijten"
    "vrijetijd"
    "avondeten"
    "slapen";
}

.verandering-body {
    transition-duration: 1s;
    background-color: #013764 !important;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    grid-area: nav;
}

#logo {
    width: 300px;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: clock;
}

#datum {
    display: flex;
    justify-content: center;
    color: #045185;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5vw;
}

#digitaal {
    display: flex;
    justify-content: center;
    color: #045185;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15vw;
    transition-duration: 1s;
}

.verandering-digitaal {
    transition-duration: 1s;
    font-size: 16vw !important;
    color: #0394f5 !important;
}

#status {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#greenball {
    width: 3vw;
    margin-right: 5px;
}

span {
    color: #045185;
    font-family: 'Fjalla One', sans-serif;
    margin: 2px;
    font-size: 3vw;
}

#ontbijten {
    grid-area: ontbijten;
}

#vrijetijd {
    grid-area: vrijetijd;
}

#avondeten {
    grid-area: avondeten;
}

#slapen {
    grid-area: slapen;
}

svg {
    width: 30vw;
    fill: transparent;
    stroke-width: 4px;
    stroke: #a6a9ad;
    margin: 20px;
}

@media screen and (min-width: 300px) {

    body {
        justify-content: center;
        grid-template-areas: 
        "nav nav"
        "clock clock"
        "ontbijten vrijetijd"
        "avondeten slapen";
    }

  }

@media screen and (min-width: 500px) {

    body {
        grid-template-areas: 
        "nav nav"
        "ontbijten vrijetijd"
        "clock clock"
        "avondeten slapen";
    }

    svg {
        width: 30vw;
        max-width: 150px;
    }

  }

  @media screen and (min-width: 900px) {

    body {
        grid-template-areas: 
        "nav nav"
        "clock ontbijten"
        "clock vrijetijd"
        "clock avondeten"
        "clock slapen";
    }

    main {
        align-self: center;
    }

    svg {
        width: 8vw;

    }

  }


